*,
*::before
*::after {
    box-sizing: border-box;
}
/* custom properties update */

:root {
    --ff-primary: Verdana, Geneva, Tahoma, sans-serif;
    --ff-secondary: Arial, Helvetica, sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3em;
    --fs-h2: 2.2em;
    --fs-h3:1.25em;
    --fs-body:.75em;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15); 
}

@media (min-width: 800px) {
    :root {
        --fs-h1:3em;
        --fs-h2: 2.5em;
        --fs-h3: 1.25em;
        --fs-body: 1.125em;
    }
}

/* general style*/

body {
    background-color:var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    margin-bottom: 1em; 
}


.portfolio_img {
    width: 400px;
    height: 400px;
}

strong { font-weight: var(--fw-bold);}


:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* button */

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;    
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section_title {
     margin-bottom: .2em;
}

.section_title-intro {
    font-weight: var(--fw-reg);
} 

.section_title-intro strong {
    display: block;
}
.section_subtitle {
    margin: 0;
    font-size: var(--fs-h3); 
}
.section_subtitle-intro,
.section_subtitle-about {
    background-color: var(--clr-accent);
    padding: .25em 1em;
    font-size: var(--ff-secondary);
    margin-bottom: 1em;
}

.section_subtitle-work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}


/*header*/

nav {
    display: none;
}

.intro {
    position: relative;
}

.intro_img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display:grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
             "img title"
             "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro_img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section_subtitle-intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}


/* My services section */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(developimage.jpg);
    background-size: cover;
    color: var(--clr-light);
    background-blend-mode: multiply;
    text-align: center;
}

.section_title-services {
    color: var(--clr-accent);
    position: relative;
}

.section_title-services::after {
    content: "";
    display:block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}


@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;

    }

    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 600px) {
     .about_me {
         display: grid;
         grid-template-columns: 1fr 200px;
         grid-template-areas: "title img" "subtitle img" "text img";
         grid-column-gap: 2em;
     }

     .section_title-about {
         grid-area: title;
     }
     .section_subtitle-about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
     }
     .about-me_img {
         grid-area: img;
         position: relative;
         z-index: 1;
     }
}

/* My Work */
.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio_item {
    background-color: var(--clr-accent);
    overflow: hidden;
}

.portfolio_img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio_img:hover {
    transform: scale(1.2);
    opacity: 0.5;
}

/* Footer */

.footer {
    background-color: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    font-size: var(--fs-h3);
    font-weight:var(--fw-bold);
}

.footer_link:hover,
.social-list_link:hover {
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list_item {
    margin: 0 .5em;
}

.social-list_link {
    padding: .5em;
}
